[submodule "themes/hugo-ivy"]
	path = themes/hugo-ivy
	url = https://github.com/yihui/hugo-ivy.git
[submodule "public"]
	path = public
	url = git@github.com:meefen/meefen.github.io.git
	branch = master
